<div class="map" id="map" style="width: 100%; height: 200px;"></div>

<div class="order-banner">
  <div class="pickers">
    <div class="map-text">
      <div class="place-picker">
        <p><%= @cart.delivery_location %></p>
        <div class="btn" data-toggle="modal" data-target="">
          <p>MODIFIER LE LIEU DE LIVRAISON</p>
        </div>
      </div>
      <div class="timeslot">
        <p>Livraison prévue à <%= @cart.delivery_time.strftime('%H:%M') %></p>
        <div class="btn" data-toggle="modal" data-target="#pickers">
          <p>MODIFIER L'HEURE DE LIVRAISON</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pickers">
  <div class="cart-recap">
    <div class="cart-content-header">
      <p>Mes informations de livraison</p>
    </div>
    <button type="button" data-dismiss="modal" class="btn btn-dismiss"><i class="fa fa-times"></i></button>
  </div>
  <div class="delivery-infos">
    <p>Livraison prévue à <%= @cart.delivery_time %></p>
    <p>au <%= @cart.delivery_location %></p>
  </div>
  <div class="signup-wrapper">
    <div class="change-delivery-time">
      <p class="text-center">Modifier l'heure de livraison</p>
      <%= simple_form_for @cart do |f| %>
        <!-- <div class="form-group"> -->
          <!-- <div class='input-group date' id='datetimepicker3'> -->
            <%= f.input :delivery_time, as: :string, input_html: {class: "date", id:"datetimepicker3"} %>
            <!-- <input type='text' class="form-control" /> -->
          <!-- </div> -->
        <!-- </div> -->
        <%= f.submit %>
      <% end %>
    </div>
    <p class="text-center">Modifier le lieu de livraison</p>
    <div class="search-modal">
      <%= form_tag(pills_path, method: "get") do %>
        <div class="flexbox-demo">
          <%= text_field_tag :search, params[:search], placeholder: "Pick an address...", class: "search", id: "search_place" %>
          <%= button_tag(type: "submit", class: "submit", id: "home_button") do %>
            <i class="glyphicon glyphicon-map-marker glyph-size"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-4 col-sm-offset-4'>
      <%= simple_form_for(:pill, url: pills_path, method: :get, remote: true) do |k| %>
        <div id="search-bar-form" class="flexbox">
          <%= k.input :name, label: false, placeholder: "Search a pill", class: "navbar-wagon-search-input", id: "search_name" %>
          <%= k.button :submit, class: "btn btn-primary ", id: "home_button", value:"" %>
            <i class="glyphicon glyphicon-search"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="categories-container">
  <% @categories.each do |category| %>
    <div class="category-button" data-category="<%= category %>"><%= category %></div>
    <%#= link_to pills_path(category: category), remote: true do  %>
<!--     <div>
      <%#= category %>
    </div>
 -->
    <%# end %>
  <% end %>
</div>

<div class="wrapper">
  <div class="cart-btn-modal">
    <div class="cart-wrapper">
      <div class="cart-button btn btn-primary" data-toggle="modal" data-target="#mycart">
        <i class="fa fa-medkit normal-icon"></i>
        <div class="items-count"><%= @cart.nb_items %></div>
      </div>
    </div>
  </div>
  <div class="customcontainer">
    <div class="row">
      <div id="pill-card">
        <%= render partial: 'cards', collection: @pills, as: :pill %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mycart">
  <% if @cart.cart_items.any? %>
    <div class="filled-cart">
      <div class="cart-recap">
        <div class="cart-content-header">
          <i class="fa fa-medkit normal-icon"></i>
          <p>Vos pills</p>
          <div class="items-count"><%= @cart.nb_items %></div>
        </div>
        <button type="button" data-dismiss="modal" class="btn btn-dismiss"><i class="fa fa-times"></i></button>
      </div>
      <div class="cart-info">
        <div class="cart-content">
          <div class="blue-icon"><i class="fa fa-map-marker"></i></div>
          <p><%= @cart.delivery_location %></p>
        </div>
        <div class="pencil-icon">
          <div><i class="fa fa-pencil-square btn" data-toggle="modal" data-target="#pickers"></i></div>
        </div>
      </div>
      <div class="cart-info">
        <div class="cart-content">
          <div class="blue-icon"><i class="fa fa-clock-o"></i></div>
          <p>Livraison dans <%= @duration %> minutes</p>
        </div>
        <div class="pencil-icon">
          <div><i class="fa fa-pencil-square btn" data-toggle="modal" data-target="#pickers"></i></div>
        </div>
      </div>
      <div class="cart-products">
        <% @cart.cart_items.each do |cart_item| %>
          <div class="cart-product">
            <div class="item-picture">
              <%= image_tag cart_item.pill.photo %>
            </div>
            <div class="item-description">
              <p><%= cart_item.pill.name %></p>
              <p><%= cart_item.pill.capacity %></p>
            </div>
            <div class="item-total">
              <p><%= cart_item.quantity %> x <b><%= cart_item.pill.price %>€</b></p>
              <div class="cart-control">
                <%= simple_form_for [cart_item.pill, cart_item], method: :patch do |f| %>
                  <%= f.hidden_field :cart_id, value: @cart.id %>
                  <%= button_tag(type: 'submit', class: "divbutton-small") do %>
                    <span>-</span>
                  <% end %>
                <% end %>
                <%= simple_form_for [cart_item.pill, cart_item], method: :post, url: pill_cart_items_path(cart_item.pill) do |f| %>
                  <%= f.hidden_field :cart_id, value: @cart.id %>
                  <%= button_tag(type: 'submit', class: "divbutton-small") do %>
                    <span>+</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="cart-info">
        <div class="cart-content">
          <div class="blue-icon"><i class="fa fa-ambulance"></i></div>
          <p>Frais de livraison</p>
        </div>
        <div class="delivery-fees">
          <p><%= @cart.delivery_price %> €</p>
        </div>
      </div>
      <div class="cart-total">
        <div class="total underlined">
          <p>Total</p>
        </div>
        <div class="sum">
          <p><%= @cart.total %>€</p>
        </div>
      </div>
      <div class="cart-validation">
        <div class="btn btn-primary btn-mycart" data-toggle="modal" data-target="#signup">Etape suivante</div>
      </div>
    </div>
  <% else %>
    <div class="empty-cart">
      <button type="button" data-dismiss="modal" class="btn-dismiss-empty"><i class="fa fa-times blue-times"></i></button>
      <div class="badge-icon">
        <i class="fa fa-medkit large-icon"></i>
      </div>
      <div class="text-center">
        <h2>Votre panier est vide</h2>
        <p>Ajoutez des produits à votre commande</p>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="signup">
  <%= render "devise/registrations/form" %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      $('#datetimepicker3').datetimepicker({
        format: 'HH:mm',
      });

      var styles = [
      {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
        {
          "saturation": 36
        },
        {
          "color": "#333333"
        },
        {
          "lightness": 40
        }
        ]
      },
      {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
        {
          "visibility": "on"
        },
        {
          "color": "#ffffff"
        },
        {
          "lightness": 16
        }
        ]
      },
      {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
        {
          "visibility": "off"
        }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
        {
          "color": "#fefefe"
        },
        {
          "lightness": 20
        }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
        {
          "color": "#fefefe"
        },
        {
          "lightness": 17
        },
        {
          "weight": 1.2
        }
        ]
      },
      {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#f5f5f5"
        },
        {
          "lightness": 20
        }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#f5f5f5"
        },
        {
          "lightness": 21
        }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#dedede"
        },
        {
          "lightness": 21
        }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
        {
          "color": "#ffffff"
        },
        {
          "lightness": 17
        }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
        {
          "color": "#ffffff"
        },
        {
          "lightness": 29
        },
        {
          "weight": 0.2
        }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#ffffff"
        },
        {
          "lightness": 18
        }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#ffffff"
        },
        {
          "lightness": 16
        }
        ]
      },
      {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#f2f2f2"
        },
        {
          "lightness": 19
        }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
        {
          "color": "#e9e9e9"
        },
        {
          "lightness": 17
        }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
        {
          "color": "#11CBD7"
        }
        ]
      }
      ]
      var handler = Gmaps.build('Google');
      handler.buildMap( {
        provider: {
          styles: styles,
          scrollwheel: false, zoomControl: false
        }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(8);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
