<div class="cart-recap">
  <div class="cart-content-header">
    <p>Mon compte</p>
  </div>
  <button type="button" data-dismiss="modal" class="btn btn-dismiss"><i class="fa fa-times"></i></button>
</div>
<div class="signup-wrapper">

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br/>
    <% end -%>
  <% end -%>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions btn">
      <%= f.button :submit, "Se connecter" %>
    </div>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "MOT DE PASSE OUBLIE?", new_password_path(resource_name) %><br />
  <% end -%>

  <%- if controller_name != 'sessions' %>
  <%= link_to "S'enregistrer", new_session_path(resource_name) %><br />
  <% end -%>

</div>
