<div class="cart-recap">
  <div class="cart-content-header">
    <p>Mes informations de livraison</p>
  </div>
  <button type="button" data-dismiss="modal" class="btn btn-dismiss" data-toggle="modal" data-target="#mycart"><i class="fa fa-times"></i></button>
</div>
<div class="cart-infos">
  <div class="cart-content">
    <div class="blue-icon"><i class="fa fa-clock-o"></i></div>
    <p>Livraison prévue à <strong><%= @cart.delivery_time.strftime('%Hh%M') %></strong></p>
  </div>
</div>
<div class="cart-infos">
  <div class="cart-content">
    <div class="blue-icon"><i class="fa fa-map-marker"></i></div>
    <p><strong><%= @cart.delivery_location %></strong></p>
  </div>
</div>

<div class="cart-change">
  <div class="total underlined">
    <p>Modifier l'heure de livraison</p>
  </div>
</div>

<div class="pickers-wrapper">
  <div class="timepicker">
    <%= simple_form_for @cart do |f| %>
      <!-- <div class="form-group"> -->
        <!-- <div class='input-group date' id='datetimepicker3'> -->
          <%= f.input :delivery_time, label: false, as: :string, input_html: {class: "date", id:"datetimepicker3"} %>
          <!-- <input type='text' class="form-control" /> -->
        <!-- </div> -->
      <!-- </div> -->
      <div class="flexible text-center">
      <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="cart-change">
  <div class="total underlined">
    <p>Modifier le lieu de livraison</p>
  </div>
</div>
<div class="pickers-wrapper-two">
  <div class="search-modal">
    <%= form_tag(pills_path, method: "get") do %>
      <div class="flexbox-demo-modal">
        <%= text_field_tag :search, params[:search], placeholder: "Entrer votre adresse de livraison...", class: "search", id: "search_place" %>
        <%= button_tag(type: "submit", class: "submit", id: "home_button") do %>
          <i class="glyphicon glyphicon-map-marker glyph-size"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
