<div class="cart-recap">
  <div class="cart-content-header">
    <p>Mes informations de livraison</p>
  </div>
  <button type="button" data-dismiss="modal" class="btn btn-dismiss"><i class="fa fa-times"></i></button>
</div>
<div class="delivery-infos">
  <p>Livraison prévue à <strong><%= @cart.delivery_time.strftime('%H:%M') %></strong></p>
  <p>au <strong><%= @cart.delivery_location %></strong></p>
</div>
<div class="signup-wrapper">
  <div class="change-delivery-time">
    <p class="text-center underline">Modifier l'heure de livraison</p>
    <%= simple_form_for @cart do |f| %>
      <!-- <div class="form-group"> -->
        <!-- <div class='input-group date' id='datetimepicker3'> -->
          <%= f.input :delivery_time, label: false, as: :string, input_html: {class: "date", id:"datetimepicker3"} %>
          <!-- <input type='text' class="form-control" /> -->
        <!-- </div> -->
      <!-- </div> -->
      <div class="flexible text-center">
      <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <p class="text-center underline deasy">Modifier le lieu de livraison</p>
  <div class="search-modal">
    <%= form_tag(pills_path, method: "get") do %>
      <div class="flexbox-demo-modal">
        <%= text_field_tag :search, params[:search], placeholder: "Entrer votre adresse de livraison...", class: "search", id: "search_place" %>
        <%= button_tag(type: "submit", class: "submit", id: "home_button") do %>
          <i class="glyphicon glyphicon-map-marker glyph-size"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
