<div class="banner">
  <div class="banner-content">
    <h1>Vos médicaments livrés chez vous<br></h1>
    <span class="type-js" style="min-height: 78.1px;">
      <h1 class="text-js">en moins de 30 minutes</h1>
    </span>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <%= render 'search-form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-one">
  <div class="row">
    <div class="headline text-center">Qu'est ce que <strong>Pills</strong> ?</div>
    <div class="col-lg-3 text-center">
      <%= image_tag "payment.png", class: "payment" %><br>
      <p class="landicons">Facilités de paiement</p>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "certificate.png", class: "certified" %>
      <p class="landicons">Facilités de paiement</p>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "chat.png", class: "chat" %>
      <p class="landicons">Facilités de paiement</p>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "delivery.png", class: "delivery" %>
      <p class="landicons">Facilités de paiement</p>
    </div>
  </div>
</div>
<div class="section-two">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
    <h2 class="about-two"><strong>Comment</strong> ça marche ?</h2>
      <p class="p-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Pellentesque eget leo elit. Aliquam id tristique nunc, a sodales neque. Vivamus molestie sollicitudin nunc sed tempus. <br>Sed eget maximus ante, iaculis porta dolor.</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
  <div class="section-three">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-center">
        <h2 class="about-three"><strong>Philo</strong>sophie</h2>
        <br>
        <p class="p-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget leo elit. Aliquam id tristique nunc, a sodales neque. Vivamus molestie sollicitudin nunc sed tempus. Sed eget maximus ante, iaculis porta dolor. Vestibulum ac neque maximus, rhoncus est eget, sagittis enim.</p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
