<div class="banner">
  <div class="banner-content">
    <h1>Vos médicaments livrés chez vous<br> en moins de 30 minutes</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <%= render 'search-form' %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section-one">
  <div class="row">
    <div class="headline text-center">Qu'est ce que <strong>Pills</strong> ?</div>
    <div class="col-lg-3 text-center">
      <%= image_tag "payment.png", class: "payment" %>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "payment.png", class: "payment" %>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "payment.png", class: "payment" %>
    </div>
    <div class="col-lg-3 text-center">
      <%= image_tag "payment.png", class: "payment" %>
    </div>
  </div>
</div>
<div class="section-two">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <h2 class="about-two">COMMENT CA MARCHE ?</h2>
      <br>
      <p class="p-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget leo elit. Aliquam id tristique nunc, a sodales neque. Vivamus molestie sollicitudin nunc sed tempus. Sed eget maximus ante, iaculis porta dolor. Vestibulum ac neque maximus, rhoncus est eget, sagittis enim. Curabitur elementum eros nec metus fermentum, eget semper augue interdum. Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur. Aliquam erat volutpat. In consequat quam sed felis consectetur aliquet. Donec finibus odio a sapien accumsan viverra. Sed varius urna sit amet ipsum molestie pretium.</p>
      <hr>
      <p class="p-two">Curabitur elementum eros nec metus fermentum, eget semper augue interdum. Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur.
        Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur. Aliquam erat volutpat.</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
  <div class="section-three">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-center">
        <h2 class="about">COMMENT CA MARCHE ?</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget leo elit. Aliquam id tristique nunc, a sodales neque. Vivamus molestie sollicitudin nunc sed tempus. Sed eget maximus ante, iaculis porta dolor. Vestibulum ac neque maximus, rhoncus est eget, sagittis enim. Curabitur elementum eros nec metus fermentum, eget semper augue interdum. Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur. Aliquam erat volutpat. In consequat quam sed felis consectetur aliquet. Donec finibus odio a sapien accumsan viverra. Sed varius urna sit amet ipsum molestie pretium.</p>
        <hr>
        <p>Curabitur elementum eros nec metus fermentum, eget semper augue interdum. Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur.
          Aliquam ultricies aliquam erat et tempus. Phasellus nec lacus nisi. Suspendisse ut feugiat ex. Pellentesque nec sem erat. Nunc mollis velit sit amet lectus ornare efficitur. Aliquam erat volutpat.</p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
