<div class="banner">
<!--  <div class="video-bg">
  <iframe id="my-video" frameborder="0" height="100%" width="100%"
  src="https://youtube.com/embed/WoZQ0ivvW7E?Version=3&autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=WoZQ0ivvW7E">
</iframe>
</div> -->
<div class="col-lg-6">
  <div class="banner-content">
    <h1>Vos médicaments livrés jours et nuits en 30 min.</h1>
    <h2 class="subhead">Bla bla blabla</h2>
    <!-- <h1>en moins de 30 minutes</h1> -->
    <!-- <span class="type-js" style="min-height: 78.1px;"> -->
    <!-- <h1 class="text-js">en moins de 30 minutes</h1> -->
    <!-- </span> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <%= render 'search-form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <%= image_tag "groupz.png", class: "bottle" %>
</div>
</div>
<div class="section-wrapper">
  <div id="backshape">
    <div class="section-one">
      <div class="row">
        <div class="headline text-center">Qu'est ce que <strong>Pills</strong> ?</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 description-home text-center">
          <h2>Kol delivers your wines & spirits in 30 minutes, day or night and at the optimal serving temperature! All our products are carefully selected by a team of experts and changed regularly to ensure that even the pickiest clients will enjoy their time on our platform!</h2>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 text-center">
          <%= image_tag "card-speed.png", class: "payment" %>
        </div>
        <div class="col-lg-4 text-center">
          <%= image_tag "card-certified.png", class: "payment" %>
        </div>
        <div class="col-lg-4 text-center">
          <%= image_tag "card-secure.png", class: "payment" %>
        </div>
      </div>
    </div>
  </div>
  <div id="backshape">
    <div class="section-two">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="about-two">Trouvez tous les <strong>produits de santé</strong> qu’il vous faut </h2>
          <p class="p-two">Que ce soit une boite de doliprane pour vos maux de têtes,<br> Quelques vitamines pour vous redonner de l’énergie ou bien une boite de lait infantile pour votre bébé, <br>Nous vous livrons tout ce dont vous avez besoin... <strong>en 30 min !</strong></p>
        </div>
        <div class="col-lg-6 text-center">
  <%= image_tag "searchome.png", class: "searchome" %>
        </div>
      </div>
    </div>
  </div>
  <div id="backshape">
    <div class="section-three">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 text-center">
          <h2 class="about-three"><strong>Philo</strong>sophie</h2>
          <br>
          <p class="p-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget leo elit. Aliquam id tristique nunc, a sodales neque. Vivamus molestie sollicitudin nunc sed tempus. Sed eget maximus ante, iaculis porta dolor. Vestibulum ac neque maximus, rhoncus est eget, sagittis enim.</p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
  </div>
</div>
