<div class="checkout">
  <div class="filled-cart">
    <div class="cart-recap">
      <div class="cart-content-header">
        <i class="fa fa-medkit normal-icon"></i>
        <p>Vos pills</p>
        <div class="items-count"><%= @cart.nb_items %></div>
      </div>
      <button type="button" class="btn btn-dismiss"><i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="cart-infos">
      <div class="cart-content">
        <div class="blue-icon"><i class="fa fa-map-marker"></i></div>
        <p><%= @cart.delivery_location %></p>
      </div>
    </div>
    <div class="cart-infos">
      <div class="cart-content">
        <div class="blue-icon"><i class="fa fa-clock-o"></i></div>
        <p>Livraison dans <%= @duration %> minutes</p>
      </div>
    </div>
    <div class="cart-products">
      <% @cart.cart_items.each do |cart_item| %>
        <div class="payment-product">
          <div class="item-picture">
            <%= image_tag cart_item.pill.photo %>
          </div>
          <div class="item-description">
            <p><%= cart_item.pill.name %></p>
            <p><%= cart_item.pill.capacity %></p>
          </div>
          <div class="item-total">
            <p><%= cart_item.quantity %> x <b><%= cart_item.pill.price %>€</b></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-info">
      <div class="total underlined">
        <p>Ajouter d'autres produits</p>
      </div>
      <%= link_to "", pills_path %>
    </div>
    <div class="cart-infos">
      <div class="cart-content">
        <div class="blue-icon"><i class="fa fa-ambulance"></i></div>
        <p>Frais de livraison</p>
      </div>
      <div class="delivery-fees">
        <p><%= @cart.delivery_price %> €</p>
      </div>
    </div>
    <div class="cart-total">
      <div class="total underlined">
        <p>Total</p>
      </div>

      <%= form_tag payments_path do %>
        <div class="sum">
          <article>
            <label class="amount">
              <span><%= @cart.total %> €</span>
            </label>
          </article>
        </div>
        <div class="cart-payment">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Mon Panier"
            data-email="<%= current_user.email %>"
            data-description="<%= @cart.delivery_location %>"
            data-amount="<%= @cart.total_cents %>"
            data-currency="<%= @cart.cart_items.first.pill.price.currency %>"></script>
        </div>
      <% end %>
    </div>
  </div>
</div>
