<div class=container>
  <div class= row>
    <!-- Nav tabs -->
    <div class="tabs" role="tablist">
      <div class = "tab" role="presentation"><a href="#paid" class="tab-text" aria-controls="paid" role="tab" data-toggle="tab">Commandes passées</a></div>
      <div class = "tab active" role="presentation"><a href="#pending" class="tab-text" aria-controls="pending" role="tab" data-toggle="tab">Commandes en cours</a></div>
    </div>
  </div>

    <!-- Tab panes -->
  <div class= row>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="paid">
        <div class="col-xs-offset-3 col-xs-6">
          <div class="dashcard-description">
            <% @current_cart_paid.each do |cart| %>
            <% cart.cart_items.each do |cart_item| %>
            <div class="cart-product">
              <div class="item-picture">
                <%= image_tag cart_item.pill.photo %>
              </div>
              <div class="item-description">
                <p><%= cart_item.pill.name %></p>
                <p><%= cart_item.pill.capacity %></p>
              </div>
              <div class="item-total">
                <p><%= cart_item.quantity %> x <b><%= cart_item.pill.price %>€</b></p>
               </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="pending">
        <div class="col-xs-offset-3 col-xs-6">
          <div class="dashcard-description">
            <% @current_cart_pending.each do |cart| %>
            <% cart.cart_items.each do |cart_item| %>
            <div class="cart-product">
              <div class="item-picture">
                <%= image_tag cart_item.pill.photo %>
              </div>
              <div class="item-description">
                <p><%= cart_item.pill.name %></p>
                <p><%= cart_item.pill.capacity %></p>
              </div>
              <div class="item-total">
                <p><%= cart_item.quantity %> x <b><%= cart_item.pill.price %>€</b></p>
               </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
